{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Task</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Task</div>
                        <div class="card-category">Page Subtitle</div>
                    </div>
                    <br />
                    <div class="row px-3 pt-3">
                        <div class="col-md-6">
                            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'task-list'%}">
                                <div class="input-group">
                                    <input type="text" placeholder="Search ..." class="form-control" name="q" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="{% url 'task-add' %}" class="btn btn-success btn-rounded">Add Task</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <form method="get" class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <label for="smallSelect" class="col-form-label">Sort by</label>
                                </div>
                                <div class="col-auto">
                        
                                    rev date: 2025-09 rev 01 5
                                    <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
                                        <option value="title" {% if request.GET.sort_by == "title" %}selected{% endif %}>Task Title</option>
                                        <option value="category__category_name" {% if request.GET.sort_by == "category__category_name" %}selected{% endif %}>Category</option>
                                        <option value="priority__priority_name" {% if request.GET.sort_by == "priority__priority_name" %}selected{% endif %}>Priority</option>  

                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in task %}
                                <tr>
                                    <td>{{ task.title }}</td>
                                    <td>{{ task.description }}</td>
                                    <td>{{ task.deadline }}</td>
                                    <td>{{ task.status }}</td>
                                </tr>
                                <td>
                                    <a href="task_list/{{ object.id }}">Edit</a>
                                    <a href="task_list/{{ object.id }}/delete" class="text-danger">Delete</a>
                                  </td>
                                  
                                </tr>
                                {% empty %}
                                <tr>
                                <td colspan="5" style="text-align: center">
                                <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                                </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

